@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --monserrat: "Montserrat", sans-serif;
    --opneS: "Open Sans", sans-serif;
    --raleway: "Raleway", sans-serif;

    --verdeOscuro: #6D9534;
    --verdeClaro: #91B043;
    --naranja: #D9B234;
    --blanco: #FFFFFF;
    --azul: #3B4AE4;
    --grisClaro: #D9D9D9;
    --colorFondo: #F8FAFD;
}


body {
    background-color: var(--colorFondo);
}

.container {
    display: flex;
}

.container__login {
    display: flex;
    flex-direction: column;
    width: 339px;
    height: 499px;
    margin-top: 71px;
    margin-left: 208px;
    margin-right: 136px;
    background-color: var(--blanco);
    border-radius: 15px;
    border: 1px solid #00000040;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.container__login img {
    margin-top: 31px;
    margin-bottom: 18px;
    margin-left: 72px;
    margin-right: 72px;
    width: 194px;
    height: 194px;
}

.container__login h2{
    width: 318px;
    text-align: center;
    font-size: 24px;
    font-family: var(--raleway);
    font-weight: 800;
}

.container__login input{
    border: none;
    width: 250px;
    height: 29px;
    margin-top: 25px;
    margin-left: 43px;
    margin-right: 43px;
    border-radius: 15px;
    background-color: #D2D5A1;
    font-size: 16px;
    font-family: var(--raleway);
    font-weight: 800;
    padding-left: 20px;
}

.container__login button{
    font-size: 16px;
    font-family: var(--raleway);
    font-weight: 800;
    color: var(--blanco);
    margin-top: 25px;
    margin-left: 92px;
    margin-right: 92px;
    width: 152px;
    height: 31px;
    border: none;
    border-radius: 15px;
    background-color: var(--verdeClaro);
}
.container__login button:hover{
    cursor: pointer;
}

.container__info h1{
    margin-top: 71px;
    margin-bottom: 40px;
    font-size: 36px;
    font-family: var(--raleway);
    font-weight: 800;
}

.container__info p{
    width: 564px;
    height: auto;
    font-size: 16px;
    font-family: var(--opneS);
    font-weight: 400;
}

.container__info img{
    width: 270px;
    height: 267px;
    margin-left: 8em;
}