<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de junta administrativa</title>

    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/Junta-Administrativa.css">

    <link rel="icon" href="../imagenes/iconos/Logo-Verastica.ico">
</head>
<body>
    <header>
        <div class="verastica-header">
            <h1 class="verastica-header__nombre">
                VERÁSTICA
            </h1>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Observaciones</a></li>
                    <li><a href="#">Formulario</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="contenedor-busqueda">
            <input type="text" placeholder="Buscador">
            <button>Buscar</button>
        </div>
        <div class="contenedor-listado">
            <h3 class="contenedor-listado__titulo">Listado de Junta Administrativa</h3>
            <div class="contenedor-listado__container">
                <button class="conenedor-listado__persona">
                    <img src="../imagenes/foto-perfil/Perfil - man.webp" alt="Foto de perfil afro" class="foto-perfil">
                    <h2 class="nombre">Gabriel Carrillo Florez</h2>
                    <p class="cargo">Vocal 1</p>
                    <div class="contenedor-listado__persona__contactos">
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/correo.webp" alt="Icono de correo">
                            <p>gaohsfg21@gmail.com</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/telefono.webp" alt="Icono de telefono">
                            <p>321 5895568</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/direccion.webp" alt="Icono de direccion" class="direccion">
                            <p>cr 56 k25-56 cl 25</p>
                        </div>
                    </div>
                </button>

                <button class="conenedor-listado__persona">
                    <img src="../imagenes/foto-perfil/perfil - woman.webp" alt="Foto de perfil afro" class="foto-perfil">
                    <h2 class="nombre">Romela mortenida hahnl</h2>
                    <p class="cargo">presidenta </p>
                    <div class="contenedor-listado__persona__contactos">
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/correo.webp" alt="Icono de correo">
                            <p>gaohsfg21@gmail.com</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/telefono.webp" alt="Icono de telefono">
                            <p>321 5895568</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/direccion.webp" alt="Icono de direccion" class="direccion">
                            <p>cr 56 k25-56 cl 25</p>
                        </div>
                    </div>
                </button>

                <button class="conenedor-listado__persona">
                    <img src="../imagenes/foto-perfil/Perfil - man.webp" alt="Foto de perfil afro" class="foto-perfil">
                    <h2 class="nombre">Gabriel Carrillo Florez</h2>
                    <p class="cargo">Vocal 1</p>
                    <div class="contenedor-listado__persona__contactos">
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/correo.webp" alt="Icono de correo">
                            <p>gaohsfg21@gmail.com</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/telefono.webp" alt="Icono de telefono">
                            <p>321 5895568</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/direccion.webp" alt="Icono de direccion" class="direccion">
                            <p>cr 56 k25-56 cl 25</p>
                        </div>
                    </div>
                </button>

                <button class="conenedor-listado__persona">
                    <img src="../imagenes/foto-perfil/perfil - woman.webp" alt="Foto de perfil afro" class="foto-perfil">
                    <h2 class="nombre">Romela mortenida hahnl</h2>
                    <p class="cargo">presidenta </p>
                    <div class="contenedor-listado__persona__contactos">
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/correo.webp" alt="Icono de correo">
                            <p>gaohsfg21@gmail.com</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/telefono.webp" alt="Icono de telefono">
                            <p>321 5895568</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/direccion.webp" alt="Icono de direccion" class="direccion">
                            <p>cr 56 k25-56 cl 25</p>
                        </div>
                    </div>
                </button>

                <button class="conenedor-listado__persona">
                    <img src="../imagenes/foto-perfil/Perfil - man.webp" alt="Foto de perfil afro" class="foto-perfil">
                    <h2 class="nombre">Gabriel Carrillo Florez</h2>
                    <p class="cargo">Vocal 1</p>
                    <div class="contenedor-listado__persona__contactos">
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/correo.webp" alt="Icono de correo">
                            <p>gaohsfg21@gmail.com</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/telefono.webp" alt="Icono de telefono">
                            <p>321 5895568</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/direccion.webp" alt="Icono de direccion" class="direccion">
                            <p>cr 56 k25-56 cl 25</p>
                        </div>
                    </div>
                </button>

                <button class="conenedor-listado__persona">
                    <img src="../imagenes/foto-perfil/perfil - woman.webp" alt="Foto de perfil afro" class="foto-perfil">
                    <h2 class="nombre">Romela mortenida hahnl</h2>
                    <p class="cargo">presidenta </p>
                    <div class="contenedor-listado__persona__contactos">
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/correo.webp" alt="Icono de correo">
                            <p>gaohsfg21@gmail.com</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/telefono.webp" alt="Icono de telefono">
                            <p>321 5895568</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/direccion.webp" alt="Icono de direccion" class="direccion">
                            <p>cr 56 k25-56 cl 25</p>
                        </div>
                    </div>
                </button>

                <button class="conenedor-listado__persona">
                    <img src="../imagenes/foto-perfil/perfil - woman.webp" alt="Foto de perfil afro" class="foto-perfil">
                    <h2 class="nombre">Romela mortenida hahnl</h2>
                    <p class="cargo">presidenta </p>
                    <div class="contenedor-listado__persona__contactos">
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/correo.webp" alt="Icono de correo">
                            <p>gaohsfg21@gmail.com</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/telefono.webp" alt="Icono de telefono">
                            <p>321 5895568</p>
                        </div>
                        <div class="contenedor-listado__persona__contactos__info">
                            <img src="../imagenes/iconos/direccion.webp" alt="Icono de direccion" class="direccion">
                            <p>cr 56 k25-56 cl 25</p>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="noencontrado" style="display: none;">
            <div class="noencontrado__404">
                <img src="../imagenes/iconos/no_encontrado.ico" alt="Icono de no encontrado">
                <h2>404</h2>
            </div>
            <h3>No se encontraron resultados</h3>
            <p>Lo sentimos, pero no pudimos encontrar a la persona que estás buscando en nuestra base de datos. Por favor, verifica la información ingresada o intenta nuevamente más tarde.</p>
            <button>Recargar página</button>
        </div>
    </main>
</body>
</html>