<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            width: auto;
            display: flex;
            justify-content: center;
            
        }
        table {
            border-collapse: collapse;
            width: 100%;
            max-width: 800px; /* Ajusta esto según sea necesario */
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
</head>
<body>
    <button id="download" class="contenedor-tabla__header__nuevo">PDF</button>
    <div id="informacionGeneral">
        <table>
            <thead>
                <tr>
                    
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
    </div>
    <script src="JS/DatosGenerales.js">
    </script>

<script >
    document.getElementById('download').addEventListener('click', () => {
const element = document.body;
const opt = {
    margin:       0.5,
    filename:     'documento_con_tabla.pdf',
    image:        { type: 'jpeg', quality: 0.98 },
    html2canvas:  { scale: 2 },
    jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
};
// Convierte el contenido a PDF
html2pdf().from(element).set(opt).save();
});
</script>
</body>
</html>
